* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  padding: 0;
  margin: 0;
  font-family: 'PingFangSC-Regular', 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 100%;
  word-break: break-all;
  vertical-align: baseline;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
  font-size: 14px;
  line-height: 1;
}

textarea::placeholder {
  color: #929292;
}

a {
  color: #20a0ff;
  text-decoration: none;
  cursor: pointer;
  backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 20px;
  box-shadow: inset 0 0 0 white;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

input:-webkit-autofill {
  background-color: #fff;
  background-image: none;
  box-shadow: 0 0 0 1000px white inset;
}
